<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do</title>
    </head>

    <body>
        {% with messages = get_flashed_messages() %}

        {% endwith%}
        <h1>TO DO:</h1>
        <h2>Sign Up</h2>
        <form action="/signup" method = "post">
            <div>
             <label for = "username">Username:</label>
             <input type = "text" id = "username" placeholder="Enter Username" name = "username" required>
            </div>
            <div>
             <label for = "password">Password:</label>
             <input type = "password" id = "password" placeholder="Enter Password" name = "password" required minlength="8" >
            </div>
            <div>
             <label for = "repassword">Confirm Password:</label>
             <input type = "password" id = "repassword" placeholder="Confirm Password" name = "repassword" required minlength="8">
            </div>
            <input type = "submit" value = "Sign Up">

        </form>
    </body>
</html>